.App {
  text-align: center;
}

.wrapper h2{
  font-size: 55px;
}

.wrapper{
  background: rgba(245, 245, 245, 0.6);
  width: 90%;
  padding: 10px;
  font-size: 40px;
}

.plants{
  display:grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.plant {
  background: rgb(240, 240, 240);
  width: 40%;
  text-align: center;
  border: rgb(0, 0, 0) solid 1px;
  font-size: 25px;
}

.plant h6{
  font-size: 25px;
}

.sys1 {
  width: 40%;
  margin-left:10px;
  margin-top:20px;
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 2px;
}

.sys1 h6{
  font-size: 25px;
}

.sys1 h5{
  font-size: 35px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Modaldiv{
  width:30%;
  margin-top: 100px;
  margin-left: 300px;
  align-content:auto;
  color: white;

}

.modal-wrapper{
  width: 50%;
  display:grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.nav-link{
  font-size: 30px;
  align-content: center;
}

.navbar-brand{
  font-size: 35px;

}