.App {
  text-align: center;
}

.wrapper {
  background: rgba(245, 245, 245, 0.6);
  padding: 10px;
}

.wrapperSys {
  background: rgba(245, 245, 245, 0.6);
  padding: 10px;
}
.plants {
  width: 60%;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.sensors {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: 1fr 1fr;
}

.plant1 {
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 1px;
}

.plant2 {
  margin-left:10px;
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 1px; 
}

.sys1 {
  width: 90%;
  margin-top: 20px;
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 2px;
}

.Modaldiv{
  margin-top: 50px;
  margin-left: 300px;
  align-content:auto;
  color: white;
  width: 20%;
}

.modal-wrapper{
  background: lightgray;
  width: 70%;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-link{
  font-size: 25px;
}

.navbar-brand{
  font-size: 30px;
}

.home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
}

.hometext {
  padding: 15px;
}

.gridimages {
  padding: 5px;
}