.App {
  text-align: center;
}

.wrapper h2{
  font-size: 55px;
}

.wrapper{
  background: rgba(245, 245, 245, 0.6);
  width: 90%;
  padding: 10px;
  font-size: 40px;
}

.plants {
  width: 60%;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.plant1 {
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 1px;
  font-size: 25px;
}

.plant1 h6{
  font-size: 25px;
}

.plant2 {
  margin-left:10px;
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 1px;
  font-size: 25px;
}

.plant2 h6{
  font-size: 25px;
}

.sys1 {
  width: 40%;
  margin-left:10px;
  margin-top:20px;
  background: rgb(240, 240, 240);
  text-align: center;
  border: rgb(0, 0, 0) solid 2px;
}

.sys1 h6{
  font-size: 25px;
}

.sys1 h5{
  font-size: 35px;
}

.Modaldiv{
  margin-top: 50px;
  margin-left: 300px;
  align-content:auto;
  color: white;
  width: 20%;
}

.modal-wrapper{
  background: lightgray;
  width: 70%;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-link{
  font-size: 25px;
}

.navbar-brand{
  padding: 3px;
  font-size: 35px;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hometext {
  padding: 20px;
}
